body {
	margin: 10px 10px;
	background: #99ccff;
	font-family: "Gill Sans", sans-serif;
	padding: 10px;
	color: #2e67f8;
}


footer {
	font-size: 10px;
}

nav ul {
	margin: 0;
	display: inline-block;
}


header {
	background: #2e67f8;
	color: #99ccff;
	padding: 0.5px 0px;
	border-radius: 10px;
}

.navbar {
	color: #99ccff;
	background: white;
	margin: 10px 5px;
	padding: 8px 5px;
	border-radius: 5px;
	list-style-type: none;
	display: inline-block;

}

footer {
	clear: both;
}

.discordLink {
	color: white;
	background: #2e67f8;
	margin: 0px;
	border-radius: 10px;
	padding: 10px 15px;
}

h1 {
	margin: 15px 45px;

}


.recordType {
	background: white;
	border-radius: 10px;
	width: 25%;
	height: auto;
	display: inline-block;
	list-style-type: none;
	float: left;
	padding: 0px 2%;
	margin: 0% 2%;
	text-align: center;
}

.record {
	background: #2e67f8;
	color: white;
	padding: 1% 1%;
	border-radius: 10px;
	margin: .5% 8%;
	width: 80%;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	list-style-position: outside;
}



ul li a {
	padding: 10px;
	margin: 0px;
	color: #2e67f8;
	text-decoration: none;
}


.record1 {
	float: left;
	width: 33.3333%;
}






